<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

{{ if .IsPage }}
<section class="header">
{{ else }}
<section class="header header-home">
{{ end }}
    <div class="container">
        <a href="{{ .Site.BaseURL }}"><img class="logo" src="{{ .Site.Params.logofile | relURL }}" alt="logo" /></a>
        <div class="content">
            <a href="{{ .Site.BaseURL }}"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <ul>
                      {{ $currentPage := . }}
                      {{ range .Site.Menus.main }}
                      <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}"><li>{{ .Name }}</li></a>
                      {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</section>
